<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="apiLoaded | async">
  <!-- <ion-list>
    <ion-item color="tertiary" style="border-radius: 2%;">
      <ion-label style="height: 30vh; width: 94%;">
        <google-map
          height="100%"
          width="100%"
          [center]="center"
          [zoom]="zoom">
        </google-map> 
      </ion-label>
    </ion-item>
  </ion-list> -->
  <google-map
    height="100%"
    width="100%"
    [center]="center"
    [zoom]="zoom">
  </google-map>
</ion-content>

<!-- AIzaSyAxvbtZpKOreKI2Y-JmTeZwZs-eN9z_DVU -->